.main-footer{
    color: white;
    background-color: #06001B;
    padding-top: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    list-style: none;
}

.barra{
    width: 90%;
    position: center;
}

.row {
    columns: 3;
}

.row a{
    color: white;
    text-decoration: none;
}

.row a:hover{
    color: blue;
}

/*Imagenes de facebook e instagram en el el footer*/
img{
    width: 10px;
    height: 10px;
}