.main-productos{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.content-wrap{
    display: flex;
}

.leftSiteP{
    width: 29%;
    margin-left: 10%;
    align-items: center;
    background-color: white;  
}

.leftSiteP h2{
    color: #06001B;
    font-family: Lato;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 1%;
    margin-left: 40px;
    padding: 0%;
}

.leftSiteP .logoC img{
    width: 350px;
    height: 181px;
    margin-left: 5%;
    line-height: 1px;
    display: flex;
}

.rightSiteP{
    width: 69%;
    margin-right: 10%;
    margin-top: 1%;
    align-items: center;
    background-color: white;
    min-height: 60vh;
}

.rightSiteP .header{
    display: flex;
}

.rightSiteP .header h2{
    margin-left: 35%;
    color: #06001B;
    font-family: Lato;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
}

.rightSiteP .header h3{
    margin-left: 10%;
    color: #06001B;
    font-family: Lato;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}