.main-productos{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.content-wrap{
    display: flex;
}

.leftSiteP{
    width: 29%;
    margin-left: 10%;
    align-items: center;
    background-color: white;  
}

.leftSiteP h2{
    color: #06001B;
    font-family: Lato;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 1%;
    margin-left: 40px;
    padding: 0%;
}

.leftSiteP .logoC img{
    width: 350px;
    height: 181px;
    margin-left: 5%;
    line-height: 1px;
    display: flex;
}

.leftSiteP .list{
    align-items: center;
    margin-top: 20%;
    margin-left: 10%;
}

.leftSiteP .list input{
    width: 70%;
    border-radius: 5px;
    color: #06001B;
    font-family: Lato;
    font-size: 20px;
}

.rightSiteP{
    width: 69%;
    margin-right: 10%;
    margin-top: 1%;
    align-items: center;
    background-color: white;
    min-height: 60vh;
}

.rightSiteP .Header{
    align-items: center;
}

.rightSiteP .Header input{
    margin: 5%;
    width: 40%;
    font-family: Lato;
    color: #06001B;
    font-size: 20px;
    border-style: solid;
    border-color: #06001B;
    border-radius: 5px;
}

.rightSiteP .Header input:hover{
    border-color: blue;
}

.rightSiteP .Header button{
    color: #06001B;
    background-color: white;
    border: none;
}

.rightSiteP .Header button:hover{
    color: blue;
}
